.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 5;
    margin: 0;
    padding: 0;
    position: fixed;
}

.modalBox {
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border: 3px solid rgb(56, 56, 56);
}

.exitButton {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 2em;
    cursor: pointer;
}

.errorText {
    font-size: 1.5em;
}

@media only screen and (max-width: 900px) {
    .modalBox {
        width: 60%;
    }

    .errorText {
        font-size: 1.2em;
    }

    .exitButton {
        font-size: 1.5em;
    }
}