.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Yellowtail', cursive;
}

.datepicker {
  margin: .5em 0;
  margin-top: .75em;
}

.icon {
  padding-left: 15px;
  height: 45px;
}

.optionButton {
  margin: .5em 0;
}

.toggleDiv {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.toggleDiv button {
  margin: 0 1em;
}

.bottomDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomDiv button {
  margin: 0 1em;
}

.tableCSS {
  background-color: rgb(245, 245, 245);
  border: 3px solid rgb(66, 66, 66);
}

.homeButtonBookedPage {
  margin: .5em 0;
  margin-bottom: 1.5em;
}