.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
}

.datepicker {
  margin: 1em 0;
}

.icon {
  padding-left: 15px;
  height: 45px;
}